################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASR.Bookstore/.vs/ASR.Bookstore
/ASR.Bookstore/bin/Debug/netcoreapp3.1
/ASR.Bookstore/obj
